@{
    ViewBag.Title = "Arena Game Home Page";
}

<div class="jumbotron">
    <h1>ARENA GAME</h1>
    <p class="lead">This is the current front page of the ArenaGame project. Right now, its main function is to assemble databases of items and stuff. There won't be an actual functioning game for a while.</p>
</div>

<div class="row">
    Here is a tool for managing the database.
    <div class="btn btn-default">
        @Html.ActionLink("Data Manager", "DataManager", "Home")
    </div>
</div>
